.Rproj.user
.Rhistory
.Rapp.history
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
*.o
*.so
*.dylib
*.dll
docs
*-Ex.R
/*.tar.gz
/*.Rcheck/
vignettes/*.html
vignettes/*.pdf
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
.Renviron
